/* writing stuff */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #d9f6f3, #aee6ff);
  color: #2f4f4f;
}

h1 {
  font-size: 3rem;
  color: #2f4f4f;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1.25rem;
}

.contact-info {
  font-size: 1rem;
  color: #2f4f4f;
  padding: 1.2rem 1.4rem;
}

nav a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
}

/* layout stuff */
header {
  background: linear-gradient(to right, #c4ece8, #9bcde4);
  color: #2f4f4f;
  padding: 3rem 1rem;
}

.intro-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 2rem;

  flex-wrap: nowrap;
}

.intro-section {
  transition: box-shadow 0.3s ease;
}

.intro-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.body-headers {
  display: flex;
  justify-content: center;
}

.body-sections {
  margin: 0 auto;
  max-width: 1400px;
  padding: 2rem;
  margin-bottom: 40px;
  transition: box-shadow 0.3s ease;
}

section {
  padding: 2rem;
  background-color: rgb(243, 255, 254);
  border-radius: 12px;
  margin: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.button-section {
  padding: 2rem;
  background-color: rgb(243, 255, 254);
  border-radius: 12px;
  margin: 0 auto;
  max-width: 1200px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* imijis */

.profile-pic {
  width: 350px;
  max-width: 400px;
  min-width: 250px;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease;
}

/* logo stuff */
.resume-logo {
  padding: 0rem 0.5rem;
  width: 60px;
  height: 60px;
  transition: transform 0.5s ease;
}

.logo {
  padding: 0rem 0rem;
  width: 70px;
  height: 70px;
  transition: transform 0.5s ease;
}

.resume-logo:hover {
  transform: scale(1.2);
}

.logo:hover {
  transform: scale(1.2);
}

/* cool effect stuff for things other than logos */
.body-sections:hover, .button-section:hover, .intro-section:hover, .profile-pic:hover {
  box-shadow: 0 16px 32px rgb(3, 57, 255, 0.25);
}

/* smaller screen stuff */
@media (max-width: 768px) {

  .intro-container {
    flex-direction: column;
    text-align: center;
  }

  .profile-pic {
    width: 60%;
    max-width: 300px;
  }

  .button-group {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}